html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  font-size: $base-font-size;
  font-family: $secondary-font;
  height: 100%;
  letter-spacing: $letter-spacing;
  line-height: $base-font-size*1.15;
  color: $darker-grey;
}

.body--disabledScroll {
  overflow: hidden;
}

.body--gray {
  background-color: #F9FAFC;
}
