h1, h2, h3, h4, h5 {
  font-family: $base-font;
  font-weight: 500;
}

h1 {
  font-size: $primary-font-size;
  line-height: $primary-font-size*1.15;
  margin-bottom: .8rem;
}

h2 {
  font-size: $secondary-font-size;
  line-height: $secondary-font-size*1.15;
  margin-bottom: .8rem;
}

h3 {
  font-size: $base-font-size*1.5;
  line-height: $base-font-size*1.7;
}

h4 {
  font-size: $base-font-size*1.2;
  line-height: $base-font-size*1.4;
}

h5 {
  font-size: $base-font-size*1.1;
  line-height: $base-font-size*1.3;
}
