input[type=text], input[type=email], input[type=password], input[type=tel], input[type=date] {
  border: none;
  width: 100%;
  height: 35px;
  background: $lighter-grey;
  padding: 0 1rem;
  font-size: $base-font-size;
  font-family: $secondary-font;
}
