/*----------------------*/
/*Reset default styles*/
/*----------------------*/
@import "base/reset";
/*----------------------*/
/*Tags*/
/*----------------------*/
@import "tags/body";
@import "tags/h";
@import "tags/hr";
@import "tags/p";
@import "tags/btn";
@import "tags/input";
@import "tags/textarea";
@import "tags/select";
/*-----------------------*/
/*Layouts*/
/*-----------------------*/
@import "layout/container";
@import "layout/grid";
/*-----------------------*/
/*Components*/
/*-----------------------*/
@import "components/load";
@import "components/hero";
@import "components/form";
@import "components/label";
@import "components/card";
@import "components/documents";
@import "components/amount";
@import "components/horse-catalog-float";
@import "components/block-previous";
@import "components/sidebar";
@import "components/panel";
@import "components/partners";
@import "components/banners";
@import "components/catalog";
/*-----------------------*/
/*Utilities*/
/*-----------------------*/
@import "utilities/text";
@import "utilities/margins";
@import "utilities/colors";

/*-----------------------*/
/*Transitions*/
/*-----------------------*/
@import "utilities/transitions";
