.card {
  background: white;
  box-shadow: $box-shadow;

  h3 {
    margin-bottom: .2rem;
  }

  h4 {
    margin-bottom: .5rem;
  }

  @include respond-to(medium) {
    margin-bottom: 2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  figure {
    position: relative;

    .label-secondary {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .block {
    @include lateral-padding;
    padding: 2rem;

    .info {
      margin-top: 2rem;

      @include respond-to(medium) {
        margin-top: 1rem;
      }

      p {
        margin-bottom: .5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .description {
      margin-top: 30px;

      @include respond-to(medium) {
        margin-top: 1rem;
      }
    }

    .link {
      display: block;
      text-align: right;
      margin-top: 30px;

      @include respond-to(medium) {
        margin-top: 15px;
      }
    }
  }

  &--horse {
    margin-bottom: 90px;

    @include respond-to(medium) {
      margin-bottom: 40px;
    }

    p {
      font-size: $base-font-size;
    }

    figure {
      .label-primary {
        position: absolute;
        top: 35px;
        right: 0;
        border-radius: 4px 0 0 4px;
      }
    }

    .block {
      padding-top: 30px;
      padding-bottom: 0;

      @include respond-to(medium) {
        padding-top: 10px;
      }
    }

    .block:nth-of-type(1) {
      grid-template-columns: 1fr 180px;
      padding-right: 0;

      @include respond-to(medium) {
        grid-template-columns: 1fr;

        div {
          justify-items: start;
        }
      }

      h2 {
        margin-top: 10px;
      }

      .label-secondary {
        font-family: $secondary-font;
        font-size: $base-secondary-font-size;
        border-radius: 4px 0 0 4px;

        @include respond-to(medium) {
          font-size: $base-font-size;
          border-radius: 4px;
        }

      }

    }

    .block:nth-of-type(2) {
      .table {
        padding-right: 40%;
        padding-bottom: 20px;
        border-bottom: 1px solid $dark-grey;

        @include respond-to(medium) {
          padding-right: 0;
        }

        .col {
          padding: 5px 0;

          @include respond-to(medium) {
            padding: 2px 0;
          }
        }

        p {
          font-size: $base-font-size;
        }
      }
    }

    .block:nth-of-type(3) {
      padding-top: 0;
    }

    .block:nth-of-type(4) {
      padding: 0;
      padding-top: 15px;

      @include respond-to(medium) {
        padding-top: 5px;
      }

      .title {
        margin-bottom: 0;

        p {
          font-size: $base-secondary-font-size;
          margin-bottom: 0;

          @include respond-to(medium) {
            font-size: $base-font-size;
          }

        }
      }
    }

    a {
      padding: 10px;
      height: auto;
      font-size: $base-font-size;
      border-radius: 0;
    }
  }
}
