.card {
  background: white;
  box-shadow: $box-shadow;

  h3 {
    margin-bottom: .2rem;
  }

  h4 {
    margin-bottom: .5rem;
  }

  @include respond-to(medium) {
    margin-bottom: 2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  figure {
    position: relative;

    .label-secondary {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .block {
    @include lateral-padding;
    padding: 2rem;

    .info {
      margin-top: 2rem;

      @include respond-to(medium) {
        margin-top: 1rem;
      }

      p {
        margin-bottom: .5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .description {
      margin-top: 30px;
      height: 70px;

      @include respond-to(medium) {
        margin-top: 1rem;
      }
    }

    .link {
      display: block;
      text-align: right;
      margin-top: 30px;

      @include respond-to(medium) {
        margin-top: 15px;
      }
    }
  }
}
