.countdown{
	width: 90%;
	max-width: 350px;

	h3{
		font-family: $secondary-font;
		font-size: $base-secondary-font-size*2;
		margin-bottom: 10px;
	}

	p{
		font-size: $base-secondary-font-size;
	}

	@include respond-to(small) {
		h3{
			font-size: $base-secondary-font-size*1.7;
		}

		p{
			font-size: $base-font-size;
		}
	}

	@include respond-to(x-small) {
		h3{
			font-size: $base-secondary-font-size*1.2;
		}
	}
}