header {
  margin: 0 auto;
  position: relative;

  a {
    cursor: pointer;
  }

  @include respond-to(medium) {
    padding: 5px 0 15px 0;
    height: 113px;
  }
}

.header--checkout {
  background-color: $primary-color;
  color: white !important;

  @include respond-to(medium) {
    height: 60px !important;
    padding: 0;
    display: flex;
    align-items: center;
  }
}

.head {
  display: grid;
  grid-template-columns: 120px 1fr 100px;
  grid-column-gap: 2rem;
  align-items: center;

  @include respond-to(medium) {
    display: none;
  }

  &--checkout {
    grid-template-columns: 80px;
    justify-content: center;
    display: grid !important;
  }
}

.info-log {
  color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    color: inherit;
    float: right;
    transition: .3s;

    &:last-child {
      margin-left: 1rem;
    }

    @include respond-to(medium) {
      margin-left: 0;

      &:last-child {
        margin-left: .8rem;
      }
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  &__car {
    cursor: pointer;
    position: relative;

    ion-icon {
      font-size: 25px;
      color: $primary-color;
    }
  }

  &__quantity {
    position: absolute;
    top: 0;
    left: -5px;
    height: 15px;
    width: 15px;
    font-size: 10px;
    line-height: 15px;
    background-color: $primary-color;
    color: white;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
  }

  &__login {
    font-size: 15px;
    line-height: 18px;
    font-family: $secondary-font;
    font-weight: bold;

    @include respond-to(medium) {
      font-size: 14px;
      text-align: right;
    }
  }

  &__loggedIn {
    font-size: 30px;
  }
}

.menu {
  background-color: $grey;

  @include respond-to(medium) {
    display: none;
  }

  ul {
    display: grid;
    grid-template-columns: 120px repeat(6, 1fr);

    li a {
      display: block;
      text-align: center;
      font-family: $base-font;
      font-weight: 500;
      font-size: $base-font-size;
      color: $dark-grey;
      padding: 1.5rem 0;

      &:hover {
        color: $primary-color;
      }

      &.active {
        color: $primary-color;
      }
    }

    li span {
      font-family: $base-font;
      font-weight: 500;
      font-size: $base-font-size;
      color: $dark-grey;
      display: block;
      padding: 1.5rem 0;
      border-right: $light-border-secondary;

      &:first-child {
        font-size: $base-font-size*1.05;
        color: $primary-color;
      }
    }

  }
}

/*::::::::::::::::::::::::::::::::::::
:::::::::::Header Responsive::::::::::
::::::::::::::::::::::::::::::::::::*/


.head-resp {
  display: none;
  grid-template-columns: 120px 1fr 120px;
  padding: 0 15px;

  img {
    height: 60px;
  }

  @include respond-to(medium) {
    display: grid;
  }
}

.head-resp__toggle span:nth-of-type(1) {
  display: block;
  width: 17px;
  height: 3px;
  background: $primary-color;
  border-radius: 5px;
  margin: 20px 0 5px 0;
}

.head-resp__toggle span:nth-of-type(2) {
  display: block;
  width: 29px;
  height: 4px;
  background: $primary-color;
  border-radius: 5px;
  margin: 0 0 5px 0;
}

.head-resp__toggle span:nth-of-type(3) {
  display: block;
  width: 17px;
  height: 3px;
  background: $primary-color;
  border-radius: 5px;
  margin: 0 0 0 8px;
}

.head-resp__logo img {
  margin: 0 auto;
}

.search-resp {
  display: none;

  @include respond-to(medium) {
    display: block;
  }
}


/*::::::::::::::::::::::::::::::::::::
::::::::::Menu Responsive:::::::::::
::::::::::::::::::::::::::::::::::::*/


.menu-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $primary-color;
  height: 100vh;
  width: 100vw;
  left: -100vw;
  transition: all .5s;
  z-index: 105;

  &.show {
    left: 0;
  }

  ul li {
    border-bottom: 1px solid white;

    & a {
      display: block;
      width: 100%;
      padding: 1.8rem 1.5rem;
      font-family: $base-font;
      font-size: 1.3rem;
      line-height: 1.3rem;
      color: white;

      &.active {
        color: white;
        font-weight: 500;
      }
    }
  }

  &__close {
    font-size: 2.5rem;
    padding: 1rem;
    color: white;
    width: 100%;
    text-align: right;
  }

}
