.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include respond-to(medium) {
    padding: 150px 0;
  }

  @include respond-to(small) {
    height: 90vh;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .gradient {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(17, 34, 76);
    background: -webkit-linear-gradient(rgba(17, 34, 76, 1) 10%, rgba(17, 34, 76, 0) 125%);
    background: -o-linear-gradient(rgba(17, 34, 76, 1) 10%, rgba(17, 34, 76, 0) 125%);
    background: linear-gradient(rgba(17, 34, 76, 1) 10%, rgba(17, 34, 76, 0) 125%);
  }

  &--presentation {
    background-image: url("/images/slider-3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;

    @include respond-to(medium) {
      background-size: auto 100%;
    }

    @include respond-to(small) {
      padding: 0 1rem;
    }

    h1 {
      color: white;
    }

    p {
      color: white;
      margin-bottom: 35px;
    }

    .block {
      width: 100%;
      position: absolute;
      z-index: 2;
      text-align: center;
      left: 0;
      bottom: 55px;
      color: white;
    }

    .link {
      color: white;
    }
  }

  &__container {
    max-width: 500px;
    z-index: 2;
  }
}
