.horse-catalog-float {
  position: fixed;
  top: 0;
  left: 0;
  width: 640px;
  height: 100vh;
  grid-template-columns: 1fr 40px;

  @include respond-to(medium) {
    width: 440px;
  }

  @include respond-to(small) {
    width: 300px;
  }

  .list-horses {
    padding: 100px 60px;
    background: $secondary-color;

    @include respond-to(medium) {
      padding: 50px 30px;
    }
    @include respond-to(small) {
      padding: 30px 20px;
    }

    .item {
      display: grid;
      grid-template-columns: 46px 120px 1fr;
      grid-template-areas: "horse-number horse-image horse-name" "horse-number horse-image horse-info";
      grid-column-gap: 1rem;
      border-bottom: 1px dotted white;
      padding-bottom: 40px;
      margin-bottom: 40px;

      @include respond-to(medium) {
        grid-template-columns: 46px 120px 1fr;
        grid-template-areas: "horse-number horse-image horse-name" "horse-info horse-info horse-info";
      }
      @include respond-to(small) {
        grid-template-columns: 40px 70px 1fr;
        grid-column-gap: 0.5rem;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

      .horse-number {
        grid-row-start: 1;
        grid-row-end: 3;

        @include respond-to(medium) {
          grid-row-start: 1;
          grid-row-end: 1;
        }
      }

      .horse-image {
        grid-row-start: 1;
        grid-row-end: 3;

        @include respond-to(medium) {
          grid-row-start: 1;
          grid-row-end: 2;
        }

        img {
          width: 150px;
        }
      }

      .horse-info {
        grid-column-start: 3;
        grid-column-end: 4;

        @include respond-to(medium) {
          grid-column-start: 1;
          grid-column-end: 4;
        }
      }


      h2 {
        font-size: $primary-font-size;
        color: $primary-color;
        border-right: 1px solid $primary-color;
        padding: 10px 0;

      }

      h1 {
        color: white;
        font-size: $base-secondary-font-size;
        margin-bottom: 15px;

        @include respond-to(small) {
          font-size: $base-font-size;
        }
      }

      .profile {
        grid-template-columns: 40px 1fr;
        grid-column-gap: 1rem;
        margin-bottom: 35px;

        @include respond-to(medium) {
          margin-bottom: 15px;
        }

        h3 {
          color: white;
          font-family: $secondary-font;
          color: $primary-color;
          margin-bottom: 10px;
        }

        p {
          color: white;
        }
      }
    }

    .item:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .trigger {
    a {
      display: block;
      width: 40px;
      height: 80px;
      background: $secondary-color;
      border-radius: 0 100px 100px 0;
      color: white;
      font-size: 35px;
      text-align: center;
      line-height: 80px;
    }
  }
}
