.label-primary {
  display: inline-block;
  background-color: $primary-color;
  border: 0;
  color: white !important;
  font-family: $secondary-font;
  font-size: $base-secondary-font-size;
  font-weight: 500;
  padding: .7rem 2rem;
}

.label-secondary {
  background: $secondary-color;
  padding: 1rem 1.5rem;
  text-align: center;
  font-family: $base-font;
  font-size: 1rem;
  color: white;
}
