.label-primary {
  display: inline-block;
  background-color: $primary-color;
  border-radius: $border-radius-components;
  border: 0;
  color: white !important;
  font-family: $secondary-font;
  font-size: $base-secondary-font-size;
  font-weight: 500;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  padding-left: 30px !important;
  padding-right: 30px !important;

  @include respond-to(medium) {
    font-size: $base-font-size;
    height: 35px;
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

.label-secondary {
  background: $secondary-color;
  padding: 1rem 1.5rem;
  text-align: center;
  font-family: $base-font;
  font-size: 1rem;
  color: white;
}
