.login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(17, 34, 76, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  z-index: -2;
  opacity: 0;

  &.show {
    z-index: 102;
    opacity: 1;
  }

  &__container {
    top: 0;
    right: 0;
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    min-width: 30vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;

    @include respond-to(small) {
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  &__close {
    cursor: pointer;
    font-size: 1.4rem;
    position: absolute;
    right: 40px;
    top: 40px;

    @include respond-to(small) {
      ion-icon {
        font-size: 2rem;
      }
    }
  }

  &__form {
    width: 100%;
  }

  &__error {
    background-color: red;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
  }
}
