.partners {
  padding: 3rem 0;

  &__title {
    text-align: center;
    margin-bottom: 4rem;
    @include respond-to(medium) {
      margin-bottom: 2rem;
    }
  }

  &__list {
    img {
      height: 90px;
    }

    &--desktop {
      @include respond-to(medium) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include respond-to(medium) {
        display: block;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: center;
  }
}
