.products {
  padding-top: 5rem;
  padding-bottom: 5rem;

  &--top0 {
    padding-top: 1.5rem;
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 30px;
    @include respond-to(medium) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px 0;
    }
  }

  &__modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .4s;
    z-index: -1;

    &.show {
      opacity: 1;
      z-index: 99;
    }

    ion-icon {
      font-size: 3rem;
      color: white;
      margin: 0 auto;
    }

    p {
      width: 100%;
    }
  }

  &__item {
    @include respond-to(medium) {
      grid-template-columns: 110px 1fr;
      background-color: white;
      border-radius: 10px;
      padding: 15px;
    }

    @include respond-to(medium) {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }

    &__block {
      display: grid;
      grid-template-columns: 1fr;
      position: relative;
      @include respond-to(medium) {
        grid-template-columns: 110px 1fr;
      }
      @include respond-to(tiny) {
        grid-template-columns: 80px 1fr;
      }
    }

    &__description {
      position: relative;
      z-index: 2;
      background-color: white;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      border-radius: 30px 30px 0 0;
      padding: 20px 20px 13px 20px;
      margin-top: -35px;
      @include respond-to(medium) {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        padding-left: 15px;
        margin-top: 0;
      }

      h3 {
        height: 50px;
        font-weight: 400;
        overflow: hidden;
        @include respond-to(medium) {
          height: auto;
        }
      }

      @include respond-to(medium) {
        margin-bottom: 10px;
      }
    }

    &__slider {
      min-height: 277px;

      @include respond-to(medium) {
        min-height: auto;
      }

      img {
        border-radius: $border-radius-components;
      }
    }
  }

  &__buy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 1rem 0;

    @include respond-to(medium) {
      grid-template-columns: 1.5fr 1fr;
      margin: 0 0 0 0;
    }

    p {
      font-family: $base-font;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 0;

      @include respond-to(medium) {
        font-size: 1.3rem;
        line-height: 1.4rem;
      }

      @include respond-to(tiny) {
        font-size: 1rem;
        line-height: 1.1rem;
      }

      &:nth-of-type(2) {
        text-align: right;
        color: $primary-color;
        font-weight: 500;
        @include respond-to(medium) {
          font-size: 1.1rem;
          line-height: 1.2rem;
        }

        @include respond-to(tiny) {
          font-size: 1rem;
          line-height: 1.1rem;
        }
      }

      span {
        cursor: pointer;
        width: 26px;
        height: 26px;
        display: inline-block;
        border: $border-secondary;
        text-align: center;
        border-radius: 1000px;
        line-height: 23px;
      }
    }

    & p span:nth-of-type(1) {
      margin-right: 15px;
      @include respond-to(medium) {
        margin-right: 10px;
      }
    }

    & p span:nth-of-type(2) {
      margin-left: 15px;
      @include respond-to(medium) {
        margin-left: 10px;
      }
    }
  }

  &__discount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: .95rem;

    @include respond-to(medium) {
      grid-template-columns: 1fr;
      & div:first-child {
        display: none;
      }
    }
  }
}

.confirm {
  position: absolute;
  background-color: $primary-color;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $secondary-font;
  font-weight: 500;
}

