.sidebar {
  width: 35vw;
  position: fixed;
  height: 100%;
  top: 0;
  transition: all .8s;
  display: grid;
  grid-template-columns: 1fr 40px;
  left: calc(-35vw + 40px);

  @include respond-to(medium) {
    width: 100vw;
    left: calc(-100vw + 40px);
  }

  &.show {
    left: 0;
    z-index: 102;
  }

  &__shadow {
    position: fixed;
    z-index: -2;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;

    &.show {
      opacity: 1;
      z-index: 101;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 45px 1fr;
    margin-bottom: 1rem;
    grid-column-gap: 1rem;
  }

  &__position {
    h3 {
      font-size: 2.5rem;
    }

    font-size: 2rem;
    color: $primary-color;
  }

  &__info {
    h3 {
      margin-bottom: .5rem;
    }

    h4 {
      margin-bottom: .2rem;
    }
  }

  &__trigger {
    background-color: transparent;
    display: flex;
    align-items: center;

    a {
      width: 40px;
      height: 80px;
      background: #11224C;
      border-radius: 0 100px 100px 0;
      color: white;
      font-size: 1.5rem;
      text-align: center;
      line-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      ion-icon {
        transition: all .5s;
      }
    }
  }

  &__list {
    padding: 2rem;
    overflow-y: auto;
    background-color: white;
  }

  &__rotate {
    transform: rotate(180deg);
  }

  &__content {
    &--disabled {
      filter: blur(2px);
    }
  }
}
