.terms {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
  justify-items: center;
  align-items: center;

  &.show {
    display: grid;
  }

  .block {
    width: 90%;
    height: 90vh;
    padding: 0 5rem;
    background: white;

    @include respond-to(small) {
      padding: 0 2rem;
    }

    ion-icon {
      cursor: pointer;
      font-size: 28px;
    }

    .terms-section {
      overflow: auto;
      height: 55vh;

      @include respond-to(small) {
        height: 50vh;
      }

      @include respond-to(tiny) {
        height: 40vh;
      }
    }
  }

  &__accept {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: .8rem;
  }
}


