.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;

  @include respond-to(max-width) {
    padding: 0 2rem;
  }

  @include respond-to(tiny) {
    padding: 0 1rem;
  }

  &--fw {
    max-width: 100vw;
    padding: 0;
  }

  &--sign {
    max-width: 768px;
  }

  &--event {
    max-width: 1200px;
  }

  &--live {
    @include respond-to(small) {
      padding: 0 !important;
    }
  }
}
