.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;

  @include respond-to(max-width) {
    padding: 0 2rem;
  }

  &--fw {
    max-width: 1920px;
    padding: 0;
  }

  &--sign {
    max-width: 768px;
  }
}
