.grid {
  display: grid;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  @include respond-to(medium) {
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  @include respond-to(medium) {
    grid-template-columns: 1fr;
  }
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  @include respond-to(medium) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond-to(small) {
    grid-template-columns: 1fr;
  }
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
}

.col-6 {
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1rem;
}

.col-7 {
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: .5rem;
}


.justify-items-center {
  justify-items: center;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-space-bet {
  justify-content: space-between;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}
