.about {
  padding-bottom: 3rem;
  &__head {
    padding: 0 8rem;
    text-align: center;

    @include respond-to(medium) {
      padding: 0;
    }
  }

  &__mv {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include respond-to(medium) {
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;
    }

    div {
      text-align: center;
      padding: 0 3rem;

      @include respond-to(medium) {
        padding: 0;
      }

      &:first-child {
        border-right: 1px solid;

        @include respond-to(medium) {
          border-right: 0;
        }
      }

      h3 {
        margin-bottom: 1rem;
      }
    }
  }
}

.team {
  text-align: center;
  background-color: $lighter-grey;
  padding: 3rem 0;
  margin-top: 4rem;

  p {
    white-space: break-spaces;
  }

  &__content {
    margin-top: 2.5rem;
    max-width: 991px;
  }

  &__head {
    padding: 0 8rem;
    text-align: center;

    @include respond-to(medium) {
      padding: 0 2rem;
    }
  }

  &__item {
    div {
      padding: 2rem 3rem;
    }
  }
}
