.claims {
  margin: 2rem 0;

  &__head {
    margin-top: 2rem;
  }

  &__forms {
    margin-top: 2rem;
  }

  &__thanks {
    margin-top: 1rem;
    min-height: 40vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
