.event-detail {
  padding-bottom: 3rem;

  img {
    width: 100%;
  }

  h3 {
    margin-bottom: 1.5rem;
    font-weight: 500;
  }

  h4 {
    margin-bottom: .3rem
  }

  &__content {
    figure {
      margin-bottom: 2rem;
    }
  }

  &__head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin-bottom: 1rem;

    @include respond-to(small) {
      text-align: center;
      grid-template-columns: 1fr;
      grid-row-gap: .8rem;

      div:nth-child(2) {
        display: flex;
        justify-content: center;
      }
    }
  }

  &__countdown {
    display: flex;
    justify-content: flex-end;
  }

  &__information {
    margin-bottom: 2rem;
  }

  &__item {
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-column-gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;

    @include respond-to(small) {
      grid-template-columns: 20px 1fr;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__documents {
    padding: 1rem;
    font-size: 1.1rem;
    background-color: $lighter-grey;
    display: flex;
    align-items: center;

    a {
      margin-left: .5rem;
      display: flex;
      align-items: center;
    }

    ion-icon {
      font-size: 1.5rem;
    }

    margin-bottom: 4rem;
  }

  &__live {
    margin-bottom: 2rem;
  }
}

.catalog {

  h2 {
    margin-bottom: 3rem;
  }

  figure {
    margin-bottom: 0;
  }

  .label-primary {
    position: absolute;
    right: 0;
    top: 1rem;
  }

  &__description {
    padding: 1.5rem;
  }

  &__offer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-bottom: .8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.features {
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    h5 {
      width: 30%;
      font-weight: 700;

      @include respond-to(small) {
        width: 40%;
      }
    }

    p {
      width: 70%;
      @include respond-to(small) {
        width: 60%;
      }
    }
  }
}
