.event-detail {
  padding-bottom: 3rem;

  img {
    width: 100%;
  }

  &__head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__countdown {
    display: flex;
    justify-content: flex-end;
  }

  .event-information {

    grid-column-gap: 3rem;

    @include lateral-padding;
    padding-top: 110px;
    padding-bottom: 60px;

    @include respond-to(medium) {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    @include respond-to(small) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .block {

      @include respond-to(medium) {
        margin-bottom: 20px;
      }

      h2 {
        margin-bottom: 30px;
        margin-left: 80px;
        @include respond-to(medium) {
          margin-left: 0;
        }
      }

      .wrap {

        @include respond-to(medium) {
          grid-template-columns: 1fr 1fr;
        }
        @include respond-to(small) {
          grid-template-columns: 1fr;
        }


        .col {
          grid-template-columns: 80px 1fr;
          margin-bottom: 35px;

          @include respond-to(medium) {
            grid-template-columns: 60px 1fr;
            margin-bottom: 20px;
          }

          h3 {
            font-family: $secondary-font;
            font-size: $base-secondary-font-size;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .horse-catalog {
    margin-top: 100px;

    @include respond-to(medium) {
      margin-top: 80px;
    }
  }

}
