.events {
  padding-bottom: 3rem;

  &__content {
    h2 {
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 1rem;

    @include respond-to(small) {
      grid-template-columns: 1fr;
    }

    a {
      color: $primary-color;
    }

    &:nth-child(2n +0) {
      background-color: $lighter-grey;
    }

    div {
      margin-bottom: .5rem;
    }
  }
}
