.faqs {
  padding-bottom: 3rem;
  font-size: 15px;

  &__content {
    h2 {
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  &__videos {
    margin-top: 1.8rem;
  }
}

.questions {
  h3 {
    margin-bottom: 1rem;
  }

  &__item {
    h3 {
      margin-bottom: .5rem;
    }

    a {
      text-decoration: underline;
      color: $primary-color !important;
    }
  }
}
