.faqs {
  padding-bottom: 3rem;
  font-size: 15px;

  &__content {
    h2 {
      text-align: center;
      margin-bottom: 1.8rem;
    }
  }
}

.questions {
  &__item {
    margin-bottom: 1.8rem;

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: .8rem;
    }
  }
}
