.history-section{

	.block-title{
		@include respond-to(medium){
			margin-bottom: 50px;		
		}
	}

	@include respond-to(medium) {
		padding-top: 50px;
		padding-bottom: 20px;
	}
	@include respond-to(small) {
		padding-top: 20px;
		padding-bottom: 20px;
	}	

	h1{
		margin-bottom: 20px;
	}

	.block-associates{
		margin-bottom: 170px;

		@include respond-to(medium){
			margin-bottom: 80px;		
		}

		h2{
			margin-bottom: 100px;
			text-align: center;

			@include respond-to(medium) {
				margin-bottom: 50px;
			}
		}

		.col{
			@include respond-to(small) {
				grid-template-columns: 1fr 1fr;
				grid-column-gap: 3rem;
			}
		}

		
	}

	.block-mision{

		@include respond-to(medium){
			padding-bottom: 50px;
		}
		
		div{
			padding: 20px 0;

			@include respond-to(medium){
				padding: 0;
			}
		}

		div:first-child{
			border-right: 1px solid $primary-color;
			padding-right: 80px;

			@include respond-to(medium){
				border-right: none;
				border-bottom: 1px solid $primary-color;
				padding-right: 0;
				padding-bottom: 50px;
				margin-bottom: 50px;		
			}
		}

		div:last-child{
			padding-left: 80px;

			@include respond-to(medium){
				padding-left: 0;
			}
		}

		h2{
			text-align: center;
			margin-bottom: 25px;
		}
	}
	
}

.staff{

	@include respond-to(medium) {
		padding-top: 50px;
		padding-bottom: 20px;
	}
	@include respond-to(small) {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.col{
		grid-column-gap: 3rem;

		@include respond-to(small){
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 1rem;
		}
		@include respond-to(tiny){
			grid-template-columns: 1fr;
			grid-column-gap: 1rem;
		}

		.card{ 
			

			.block{
				text-align: center;
				
				h3{
					color: $primary-color;
					margin-bottom: 10px;
				}
			}
			
		}
	}
		
}