.horse-details{

	h1{	
		font-size: $secondary-font-size;
	}

	h2{	
		font-size: $primary-font-size;

		@include respond-to(small) {
			font-size: $primary-font-size-resp;
		}
	}
	
	@include respond-to(medium) {
		padding-top: 50px;
		padding-bottom: 20px;
	}

	@include respond-to(small) {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.title{
		
		margin-bottom: 130px;

		@include respond-to(medium) {
			margin-bottom: 40px;
		}
		@include respond-to(small) {
			padding: 0;
		}

		ul:nth-of-type(1){
			display: none;
			@include respond-to(small) {
				display: block;
			}
		}

		ul:nth-of-type(2){
			display: block;
			@include respond-to(small) {
				display: none;
			}
		}

		ul{ 
			li{ 	
				a{
					font-family: $base-font;
					font-size: $base-secondary-font-size;
					line-height: 0;
					cursor: pointer;

					@include respond-to(small) {
						font-size: $base-font-size;
					}

					i{
						width: 25px;
						height: 25px;
						border-radius: 100px;
						border: 1px solid $black;
						text-align: center;
						font-size: 26px;
						line-height: 24px;

						@include respond-to(small) {
							font-size: 18px;
						}
					}
				}

				.previous{
					i{
						letter-spacing: 3px;
						margin-left: 10px;			
						margin-right: 40px;
					}
				}
				.next{
					i{
						letter-spacing: -3px;							
						margin-left: 40px;
						margin-right: 10px;
					}
				}	
			}		
			

		}

	}

	.info{		

		@include respond-to(medium) {
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 2rem;
		}
		@include respond-to(small) {
			grid-template-columns: 1fr;
			grid-column-gap: 1rem;
		}

		.table{
			width: 100%;
			max-width: 500px;

			@include respond-to(small) {
				margin-bottom: 60px;
			}

			.col{
				border-bottom: 1px solid $dark-grey;

				h3{
					@include respond-to(small) {
						font-size: $base-font-size;
					}
				}
			}

			.col-2{
				@include respond-to(medium) {
					grid-template-columns: 1fr 1fr;
				}
			}
		}

		.options{

			.col-2{
				@include respond-to(medium) {
					grid-template-columns: 1fr 1fr;
				}
			}

			.block-option{
				justify-items:center;
				@include respond-to(medium) {
					justify-items:end;
				}

				ul{
					list-style:none;
					width: 350px;
					background: url('../images/curva.png') no-repeat right 60px bottom 60px;
					margin-top: -80px;
					@include respond-to(medium) {
						grid-template-columns: repeat(3, 1fr);
						width: 100%;
						margin-top: -60px;
					}
					@include respond-to(small) {
						background: url('../images/curva.png') no-repeat right 40px bottom 60px;
					}

					li{
						width: 100%;
						text-align: center;
						margin-top: 80px;

						img{
							margin: 0 auto;
							margin-bottom: 5px;
						}
					}

					li:nth-of-type(3){
						margin-top: 0;
					}
				}
			}
			
			/*
			div:nth-of-type(3){
				text-align: center;

				img{
					margin:0 auto;
					margin-bottom: 5px;
				}

				div:nth-of-type(3){
					img{
						margin-left: 20px;
					}
				}

				div:nth-of-type(4){
					margin-top: -100px;

					img{
						margin-left: 20px;
					}
				}
			}
			*/
		}
	}

	.section-offers{			

		.title{
			margin-bottom: 60px;

			@include respond-to(medium) {
				margin-bottom: 20px;
			}

		}

		.pre-offers{
			margin-top: 140px;

			@include respond-to(medium) {
				margin-top: 60px;
			}

			.table{
				border: 1px solid $dark-grey;

				.col{
					padding-left:5%;
					padding-right:5%;

					@include respond-to(medium) {
						grid-template-columns: repeat(3, 1fr);
					}
				}

				.col:last-child{
					border-bottom: 0;
				}
			}
		}

		.offer{
			margin-top: 140px;

			@include respond-to(medium) {
				margin-top: 60px;
			}

			.wrap-label{
				@include respond-to(medium) {
					justify-items:start;
				}				
			}

			.label-primary{
				margin-bottom: 70px;

				@include respond-to(small) {
					margin-bottom: 35px;
				}
			}

			.table{
				.col{

					h3{
						font-family: $secondary-font;
						font-size: $base-secondary-font-size;

						@include respond-to(medium) {
							font-size: $base-font-size;
						}

					}

					p{
						text-align: right;
					}
				}
				.col:nth-of-type(1),.col:nth-of-type(2){
					border-bottom: 1px dotted $dark-grey;

					h2{
						margin-bottom: 0;
					}
				}

				.col-2{
					@include respond-to(medium) {
						grid-template-columns: repeat(2, 1fr);
					}					
				}
			}
		}

		.offer-now{
			margin-top: 70px;
			padding-bottom: 40px;			
			box-shadow: $box-shadow;

			@include respond-to(medium) {
				margin-top: 30px;
			}


			.bids{
				width: 100%;
				max-width: 780px;
				margin:0 auto;
				margin-bottom: 30px;
				@include lateral-padding;
				padding-top: 50px;
				padding-bottom: 30px;
				border-bottom: 1px solid $dark-grey;

				@include respond-to(medium) {
					grid-template-columns: repeat(2, 1fr);
				}

				p{
					font-size: $base-secondary-font-size;
				}

				span{
					margin-right: 20px;

					@include respond-to(small) {
						margin-right: 0;
					}
				}
			}

			h2{
				font-size: $secondary-font-size;
				margin-bottom: 20px;
			}

		}

		.media{
			margin-top: 70px;

			@include respond-to(medium) {
				margin-top: 40px;
			}

			.container{
				grid-column-gap: 4rem;

				img{
					box-shadow: $box-shadow;
				}

				div{
					@include respond-to(small) {
						margin-bottom: 20px;
					}
				}
			}

			.col-2{
				@include respond-to(medium) {
					grid-template-columns: repeat(2, 1fr);
					grid-column-gap: 1rem;
				}

				@include respond-to(small) {
					grid-template-columns: repeat(1, 1fr);
				}
			}
		}

		.documents{
			margin-top: 70px;
			margin-bottom: 30px;


			@include respond-to(medium) {
				margin-top: 40px;

				.col{
					grid-template-columns: repeat(3, 1fr);
				}
			}

			@include respond-to(small) {

				.col{
					grid-template-columns: repeat(1, 1fr);
					grid-column-gap: 1rem;

					div{
						margin-bottom: 10px;
					}
				}
			}
		}		

	}


}





