/*::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::
::::::::: Benefits :::::::::::
::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::*/

.benefits {
  margin-top: 4rem;
  margin-bottom: 4rem;

  h3 {
    margin-bottom: 1rem;
  }

  &__item {
    text-align: center;
    padding: 0 2rem;
    @include respond-to(medium) {
      margin-bottom: 30px;
    }
    @include respond-to(small) {
      margin-bottom: 10px;
    }

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
      @include respond-to(medium) {
        margin-bottom: 5px;
      }
    }
  }
}


/*::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::
::::::: Upcoming Events ::::::
::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::*/

.events {
  padding: 3rem 0;

  &__title {
    text-align: center;
    margin-bottom: 4rem;
    @include respond-to(medium) {
      margin-bottom: 2rem;
    }
  }

  &__items {
    margin-bottom: 4rem;

    @include respond-to(medium) {
      margin-bottom: 2rem;
    }
  }

  &__buttons {
    text-align: center;
  }
}


/*::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::
:::::: News ::::::::::
::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::*/

.news {
  padding: 3rem 0;

  &__title {
    text-align: center;
    margin-bottom: 4rem;
    @include respond-to(medium) {
      margin-bottom: 2rem;
    }
  }
}

/*::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::
:::::::::: Signup ::::::::::::
::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::*/

.signup {
  padding: 4rem 0;
  background: url("/images/signup.jpg") no-repeat top center;
  background-size: cover;
  text-align: center;

  @include respond-to(medium) {
    padding: 40px 0;
  }
  @include respond-to(small) {
    background-size: auto 100%;
  }

  .block {
    text-align: center;
    padding: 7rem 25%;

    @include respond-to(medium) {
      padding: 2rem 10%;
    }

    h2 {
      color: white;
      margin-bottom: 1.2rem;
    }

    p {
      color: white;
      margin-bottom: 2rem;
    }
  }

  .block:nth-of-type(1) {
    border-right: 1px dotted white;

    @include respond-to(medium) {
      border-right: 0;
      border-bottom: 1px dotted white;
    }
  }
}


/*::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::
:::::::::: Generals ::::::::::
::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::*/

.primary-text-color {
  color: $primary-color;
}

.secondary-text-color {
  color: $secondary-color;
}

.primary-bg-color {
  background: $primary-color;
}

.lighter-grey-bg-color {
  background: $lighter-grey;
}

.nav li {
  display: inline-block;
}
