.live {

  &__previous {
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    @include respond-to(medium) {
      padding: 0 1rem;
    }

    ion-icon {
      margin-right: .5rem;
    }
  }

  &__info {
    margin: 2rem 0;

    @include respond-to(medium) {
      margin: 1.5rem 0;
      padding: 0 1rem;
    }

    h2 {
      margin-bottom: .2rem;
    }

    h4 {
      font-weight: 600;
      margin-bottom: .3rem;
    }
  }

  &__go {
    display: grid;
    grid-template-columns: 1fr 400px;
    height: 100vh;

    &--disabled {
      filter: blur(2px);
    }

    @include respond-to(medium) {
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;
    }
  }

  &__video {
    background-color: $secondary-color;

    @include respond-to(medium) {
      padding: 56.25% 0 0 0;
    }
  }

  &__detail {
    padding: 1rem;
    box-shadow: $box-shadow;
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h4 {
      margin-bottom: .2rem;
    }
  }

  &__horse {
    position: relative;
    padding: 1rem;

    &--bid {
      position: absolute;
      background-color: $primary-color;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      color: white;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .5s;
      z-index: -100;
      opacity: 0;

      &.show {
        z-index: 100;
        opacity: 1;
      }
    }

    @include respond-to(medium) {
      padding: 1rem;
    }

    h3 {
      margin-bottom: .2rem;
    }
  }

  &__desktop {
    display: inline;

    @include respond-to(medium) {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @include respond-to(medium) {
      margin-top: 1rem;
      display: block;
    }
  }
}

.offer {
  margin-top: 1.8rem;
  box-shadow: $box-shadow;
  padding: 1rem;
  position: relative;


  &--modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $secondary-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
    z-index: -100;
    opacity: 0;
    transition: all .5s;

    &.show {
      z-index: 99;
      opacity: 1;
    }

    p {
      margin-bottom: .2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    div {
      text-align: center;
    }

    ion-icon {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  }

  &__item {
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    p {
      font-size: 1.5rem;
    }

    &--secondary {
      margin-bottom: .5rem;

      h3 {
        font-size: 1.2rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }

  &__go {
    text-align: center;
    margin-top: 1.8rem;
    font-size: 1.1rem;
  }
}

.increment {
  margin-top: 1.8rem;

  h4 {
    margin-bottom: .8rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    font-size: 1.1rem;

    label {
      display: inline;
    }

    input {
      display: inline;
    }
  }
}


