.live-section{
	padding-top: 60px;
	padding-bottom: 60px;

	@include respond-to(small) {
		padding-top: 30px;
		padding-bottom: 30px;
	}	

	.title{
		width: 80%;
		margin-bottom: 50px;

		@include respond-to(medium) {
			width: 100%;
		}

		h1{
			margin-bottom: 15px;
		}
	}

	.block{
		
		grid-template-columns: 3fr 2fr;	
		grid-column-gap: 3rem;

		@include respond-to(medium) {	
			grid-template-columns: 1fr;	
		}

		.wrap-info{
			display: block;
			padding: 40px;

			@include respond-to(medium) {
				margin-bottom: 40px;	
			}
			@include respond-to(small) {
				padding: 20px;	
			}
		}

		.info{
			grid-template-columns: 1fr 1fr 1fr 2fr;
			grid-column-gap: 2rem;
			background: white;
			box-shadow: $box-shadow;
			padding: 30px;
			margin-bottom: 50px;

			@include respond-to(medium) {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
			@include respond-to(small) {
				grid-template-columns: 1fr;
			}

			.col{
				grid-template-columns: 15px 1fr;
  				grid-column-gap: 1rem;

  				@include respond-to(small) {
					margin-bottom: 10px;	
				}

  				i{
  					font-size: 20px;
  				}

  				p{
  					span{
  						color: $dark-grey;
  					}
  				}
			}

			.col:last-child{
				@include respond-to(small) {
					margin-bottom: 0;	
				}
			}
		}

		.horse-profile{

			.gallery{
				margin-bottom: 35px;

				@include respond-to(medium) {
					grid-template-columns: 1fr 1fr;
				}

				img{
					width: 100%;
					max-width: 150px;
				}
			}

			h2{
				margin-bottom: 30px;
			}

			.table{
				margin-bottom: 25px;

				p{
					font-size: $base-font-size;	
				}				  
			}

			.table:nth-of-type(2){
				box-shadow: $box-shadow;
				text-align: center;	

				.col{
					@include respond-to(medium) {
						grid-template-columns: repeat(4, 1fr);	
					}
					@include respond-to(small) {
						grid-template-columns: 1fr 1fr 1fr 120px;	
					}
				}			
			}

			.table:nth-of-type(4){				
				h2{
					margin-bottom: 0;
				}

				h3{
					font-family: $secondary-font;
					font-size: $base-secondary-font-size;
				}

				.col:nth-of-type(1){
					border-bottom: 1px dotted $darker-grey;
				}
			}

			.btn--primary{
				margin-bottom: 40px;
			}			

		}
	}
}


