.live {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__previous {
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    @include respond-to(medium) {
      padding: 0 1rem;
    }

    ion-icon {
      margin-right: .5rem;
    }
  }

  &__info {
    margin: 2.5rem 0;

    @include respond-to(medium) {
      margin: 1.5rem 0;
    }

    h2 {
      @include respond-to(medium) {
        padding: 0 1rem;
      }
    }

    h4 {
      font-weight: 600;
      margin-bottom: .3rem;
    }
  }

  &__go {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1.5rem;

    @include respond-to(medium) {
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;
    }
  }

  &__detail {
    padding: 1rem;
    box-shadow: $box-shadow;
  }

  &__features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h4 {
      margin-bottom: .2rem;
    }
  }

  &__horse {
    @include respond-to(medium) {
      padding: 1rem;
    }

    h3 {
      margin-bottom: .2rem;
    }
  }

  &__desktop {
    display: inline;

    @include respond-to(medium) {
      display: none;
    }
  }

  &__mobile {
    display: none;

    @include respond-to(medium) {
      margin-top: 1rem;
      display: block;
    }
  }
}

.offer {
  margin-top: 1.8rem;
  box-shadow: $box-shadow;
  padding: 1rem;

  &__item {
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    p {
      font-size: 1.5rem;
    }
  }

  &__go {
    text-align: center;
    margin-top: 1.8rem;
  }
}

.increment {
  margin-top: 1.8rem;

  h4 {
    margin-bottom: .8rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    font-size: 1.1rem;

    label {
      display: inline;
    }

    input {
      display: inline;
    }
  }
}


