.news {
  padding-bottom: 3rem;

  &__content {
    h2 {
      text-align: center;
      margin-bottom: 3rem;
    }
  }
}

.news-detail {
  padding-bottom: 3rem;

  &__content {
    h2 {
      text-align: center;
      margin-bottom: 3rem;
    }
  }

  &__head {
    margin-bottom: 1.5rem;
  }

  &__body {
    p {
      margin-bottom: .5rem;
    }
  }

  &__img {
    height: 350px;
    background-position: center;

    @include respond-to(medium) {
      height: 250px;
      background-position: center;
      background-size: cover;
    }
  }

  &__posts {
    margin-top: 2rem;
  }
}
