.news-section{
	.title{
		margin-bottom: 60px;

		@include respond-to(small) {
			margin-bottom: 30px;
		}
	}

	.block{
		figure{
			margin: 50px 0; 

			@include respond-to(small) {
				margin: 25px 0;
			}
		}

		.description-news{
			margin-bottom: 90px;

			@include respond-to(small) {
				margin-bottom: 45px;
			}

			h3{
				margin-bottom: 25px;

				@include respond-to(small) {
					margin-bottom: 15px;
				}
			}
		}
	}

	.block-news{
		grid-column-gap: 2rem;
	}
}