.search-section{

	@include respond-to(medium) {
		padding-top: 50px;
		padding-bottom: 20px;
	}
	@include respond-to(small) {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.block{
		grid-template-columns: 1fr 2fr;
		grid-column-gap: 3rem;

		@include respond-to(small) {
			grid-template-columns: 1fr;
			grid-column-gap: 1rem;
		}

		.table{
			
			.head{
				border-top: $base-border;
				border-bottom: $base-border;

				h3{
					font-family: $secondary-font;
					font-size: $base-secondary-font-size;
				}
			}
		}

		.list{
			grid-column-gap: 3rem;
		}
	}

}
