.settings {
  &__container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1.5rem;
    min-height: 50vh;

    @include respond-to(small) {
      grid-template-columns: 1fr;
      grid-row-gap: 1rem;
    }
  }

  &__options {
    background-color: white;
    padding: .5rem;

    ol {
      list-style: none;

      li {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          &:hover {
            cursor: pointer;
            color: $primary-color;
          }

          &.active {
            color: $primary-color;
          }

          display: flex;
          align-items: center;

          ion-icon {
            font-size: 1.5rem;
            margin-right: .5rem;
          }
        }
      }
    }
  }

  &__data {
    background-color: white;
    padding: 1rem;
    position: relative;
  }

  &__modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .4s;
    z-index: -1;

    &.show {
      opacity: 1;
      z-index: 99;
    }

    ion-icon {
      font-size: 3rem;
      color: white;
      margin: 0 auto;
    }

    p {
      width: 100%;
    }
  }

  &__orders {
    background-color: white;
    padding: 1rem;
    position: relative;
  }

}

.orders {
  margin-top: 1rem;

  &__empty {
    padding: 4rem 15rem;

    ion-icon {
      font-size: 4rem;
      color: $primary-color;
    }
  }

  &__item {
    background-color: $grey;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  &__detail {
    margin-top: 1rem;

    ul {
      list-style: none;

      li {
        margin-bottom: 1rem;
        background-color: white;
        padding: .5rem;
        border-radius: 10px;

        a {
          color: blue;
        }
      }
    }
  }

  &__total {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
