.signup {
  padding-bottom: 3rem;

  &__content {
    h3 {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 4rem;
    @include respond-to(medium) {
      margin-bottom: 2rem;
    }
  }

  &__terms {
    font-size: 1.1rem;

    input[type="checkbox"] {
      margin-right: .5rem;
    }
  }
}
